{#
	@name Hero
	@desc Secondary Hero
#}

<div class="fluid-container flex flex-col-reverse lg:flex-row justify-between">
    <div class="lg:w-2/5 pt-8 lg:py-8 xl:py-16">
        {% include 'typography/h2.twig' with {
            content: hero.headline ? hero.headline : title,
            as: "h1",
            attribute: "
                x-data='words()'
                x-init='
                    scrollTrigger = false;
                    delay = $store.enterDelay;
                    mounted();
                '
                x-ref='element'
            "
        } %}
        {% if hero.text %}
            {% include "typography/paragraph.twig" with {
                content: hero.text,
                size: "lg",
                margins: "mt-4",
                class: "",
                attribute: "
                x-data='fadeIn()'
                x-init='
                    scrollTrigger = false;
                    delay = $store.enterDelay + 0.2;
                    mounted();
                '
                x-ref='element'
                "
            } %}
        {% endif %}
        {% if hero.buttons|length > 0 %}
        <div class="flex items-center gap-6 mt-10">
            {% include "components/buttons.twig" with {
                buttons: hero.buttons,
                style: hero.buttons.style
            } %}
        </div>
        {% endif %}
    </div>
    <div class="lg:w-1/2 relative h-48 md:h-96 lg:h-auto">
        {% if hero.background %}
            <div
                x-data="parallaxBackground()"
                x-init="
                    yStart = 0;
                    start = 'top top';
                    trigger = $refs.container;
                    mounted();
                "
                x-ref="container"
                class="absolute inset-0 w-full h-full overflow-hidden"
            >


                {% include "components/background.twig" with {
                    asset_type: hero.background.asset_type,
                    image: hero.background.image,
                    video: hero.background.video,
                    poster: hero.background.poster,
                    attribute: "x-ref='background'"
                } %}


            </div>
        {% endif %}
    </div>
</div>