/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either gets purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

@layer base {

    label {
        @apply font-bold;
        @apply text-xs;
        @apply block;
        @apply mb-2;
        @apply transition;
    }
    input[type="text"], input[type="email"], textarea, select {
        @apply w-full;
        @apply border-neutral-700;
        @apply transition;
        @apply bg-transparent;
        @apply rounded;
        &:focus {
            @apply outline-0;
            @apply ring-0;
            @apply border-secondary;
        }
    }
    input[type="submit"] {
        @apply inline-flex;
        @apply items-center;
        @apply justify-between;
        @apply leading-none;
        @apply select-none;
        @apply cursor-pointer;
        @apply transition;
        @apply bg-primary;
        @apply text-white;
        @apply px-10;
        @apply py-4;
        @apply rounded-3xl;
        @apply font-bold;
        @apply text-sm;
        &:hover {
            @apply bg-primary-400;
            @apply text-primary-600;
        }
    }
    .contact-form input[type="submit"] {
        @apply mt-6;
    }
    .wpcf7-list-item {
        @apply m-0;
    }
    .wpcf7-list-item label {
        @apply font-normal;
    }
    .wpcf7-checkbox, .wpcf7-radio {
        @apply grid;
        @apply grid-cols-1;
        @apply gap-y-1;
        @apply gap-x-2;
    }
    .wpcf7-form-control-wrap {
        @apply mb-6;
        @apply block;
    }
    @media (min-width: 768px) {
        .wpcf7-checkbox, .wpcf7-radio {
            @apply grid-cols-2;
        }
    }

}

@layer components {
}

@layer utilities {
}
