/* / Ï€ ----
// :: PLYR STYLES ---------------------------::
// ____ */

.plyr--video {
    @apply bg-transparent;
}

.plyr__control--overlaid {
    @apply p-5 md:p-8 bg-white text-neutral-900 opacity-100 shadow-none transform -translate-x-1/2 -translate-y-1/2;
}

.plyr__control--overlaid:focus,
.plyr__control--overlaid:hover {
    @apply !bg-primary shadow-none scale-110;
}

.plyr__control--overlaid:focus svg,
.plyr__control--overlaid:hover svg {
    @apply scale-125;
}

.plyr__control:hover,
.plyr__control[aria-expanded=true] {
    @apply !bg-primary;
}

.plyr__control.plyr__tab-focus {
    @apply !bg-primary !shadow-none !border-none outline-primary;
}

.plyr--full-ui input[type=range] {
    @apply !text-primary;
}

.plyr--full-ui input[type=range].plyr__tab-focus {
    @apply !text-primary !bg-transparent !border-none !outline-none;
}

.plyr__poster {
    background-size: cover;
  }