%h1,
.h1,
h1 {
    padding: 0;
    margin: 0;
    font-family: $font-family-sans-serif;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.2;
}

%h2,
.h2,
h2 {
    padding: 0;
    margin: 0;
    font-family: $font-family-sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

%h3,
.h3,
h3 {
    padding: 0;
    margin: 0 0 17px;
    font-family: $font-family-sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.3;
}

%h4,
.h4,
h4 {
    padding: 0;
    margin: 0 0 17px;
    font-family: $font-family-serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.4;
    @include media-breakpoint-up(md) {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

%h5,
.h5,
h5 {
    padding: 0;
    margin: 0;
    font-family: $font-family-serif;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 1.5;
    @include media-breakpoint-up(md) {
        font-size: 1.1875rem;
        line-height: 1.6;
    }
}

%h6,
.h6,
h6 {
    padding: 0;
    margin: 0 0 12px;
    font-family: $font-family-sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include media-breakpoint-up(md) {
        font-size: 14px;
        line-height: 1.25;
    }
}

%small-h6, .small-h6 {
    font-family: $font-family-sans-serif;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 1px;
    text-transform: uppercase;
}

%p, .p,
p {
    padding: 0;
    margin: 0 0 12px;
    font-family: $font-family-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
    a {
        color: inherit;
        text-decoration: underline;
    }
}

%section-header {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    text-decoration: none;
    list-style: none;
    a {
        color: inherit;
        text-decoration: underline;
    }
}

.text-center {
    text-align: center;
}

blockquote {
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 2px;
    @include media-breakpoint-up(md) {
        padding: 3rem;
        margin: 3rem 0;
    }
    p {
        padding: 0;
        margin: 0;
        font-family: $font-family-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.7;
        @include media-breakpoint-up(md) {
            font-size: 19px;
            line-height: 1.7;
        }
    }
    h6 {
        margin-top: 1rem;
        font-family: $font-family-sans-serif;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}
