.cf, %cf {
    overflow: auto;
}

%abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


%flex-center {
    display: flex;
    width: 100%;
    align-items: center;
}


%abs-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

%image-full {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

%flex-column,
.flex-column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

%flex-row,
.flex-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pos-center {
    &--vert {
        display: flex;
        align-items: center;
    }
}

.pagination {
    padding: 4rem 0;

    &__prev {
        margin-right: 25px;
    }
}
