<section class="container">
    <div class="relative w-full h-full pt-16 pb-8 md:pb-10 lg:pb-16 bg-black text-white ">
       
        <div class="relative prose blockqoute w-full px-40 md:px-10 lg:px-40">
            {# :: Sub-Headline
            {+} ---------------------------------- #}
            {% if blockset.text %}
                {{blockqoute.text}}
            {% endif %}
            <div>
        </div>
    </div>
</section>
