<section>
    <div class="relative flex items-end rounded w-full h-full min-h-sm md:min-h-lg xl:min-h-xl overflow-hidden">
        {# π ----
        // :: BACKGROUND
        // : ---------------------------------- #}
        {% include "components/background.twig" with {
            asset_type: blockset.media.asset_type,
            image: blockset.media.image,
            mp4: blockset.media.mp4,
            webm: blockset.media.webm,
            poster: blockset.media.poster
        } %}


        
    </div>
</section>
