<section class="container">
    <div class="relative flex items-end rounded w-full h-full pt-64 pb-8 md:pb-10 lg:pb-32 bg-gray-900 text-white overflow-hidden">
        {# π ----
        // :: BACKGROUND
        // : ---------------------------------- #}
        {% include 'components/background.twig' with {
            asset_type: blockset.media.asset_type,
            image: blockset.media.image,
            mp4: blockset.media.mp4,
            webm: blockset.media.webm,
            poster: blockset.media.poster
        } %}
        {% include 'overlays/primary.twig'%}
        {# π ----
        // :: CONTENT
        // : ---------------------------------- #}
        <div class="relative w-full px-8 md:px-10 lg:px-64 self-auto align-middle">
            {# :: Heading
            {+} ---------------------------------- #}
            {% include 'typography/h2.twig' with {
                content: blockset.heading,
                class: 'max-w-lg xl:max-w-5xl'
            } %}

            {# :: Sub-Heading
            {+} ---------------------------------- #}
            {% if blockset.subheading %}
                {% include 'typography/h6.twig' with {
                    content: blockset.subheading,
                    class: 'mb-3 max-w-lg'
                } %}
            {% endif %}
            {# :: Buttons
            {+} ---------------------------------- #}
            {% if blockset.buttons %}
                <div class="relative flex mt-8 space-x-4">
                    {% include 'components/buttons.twig' with {
                        buttons: blockset.buttons
                    } %}
                </div>
            {% endif %}
        </div>
    </div>
</section>
