<section class="container">
    <div class="relative w-full h-full pt-16 pb-8 md:pb-10 lg:pb-16 bg-gray-900 text-white ">
       
        <div class="relative w-full prose px-40 md:px-10 lg:px-40">
            {% if blockset.text %}
            {{blockset.text}}
            {% endif %}
            <div>
        </div>
    </div>
</section>
