<div
    x-ref="mainCursorWrapper"
    class="absolute left-0 top-0 w-4 h-4"
>
    <div
        x-ref="mainCursor"
        class="w-full h-full"
    >
        {# {{ svg:visuals/cursor class="w-full" }} #}
    </div>
</div>
