{% extends "layouts/base.twig" %}

{% block content %}
    {# π ----
    // :: HERO
    // : ---------------------------------- #}
    {% include 'partials/modules/hero.twig' %}

    <main class="relative w-screen max-w-full -mt-48 pt-20 pb-24">

        <div class="container c-pad">
            <div class="flex flex-wrap justify-center -m-4 md:-m-8 opacity-0" data-fadein-up="1">

                {% if posts|length > 0 %}

                    {% for post in posts %}
                         {% include 'partials/components/post-card.twig' %}
                    {% endfor %}

                {% else %}
                    <div class="mt-32 py-24">
                        <p class="text-2xl">Sorry, no results found.</p>
                    </div>
                {% endif %}

            </div>
        </div>

    </main>
{% endblock %}
