<div class="cta-txtwimg">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="cta-txtwimg__img">
					<img src="{{ component.image }}">
				</div>
			</div>
			<div class="col-md-6 pos-center--vert">
				<div>
					<h3 class="cta-txtwimg__description">{{ component.description }}</h3>
					<a href="{{ component.button_url }}" class="expanding-link">{{ component.button_text }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
