{# This includes only custom cards as a source. On a production site, you will likely give the option to additionally choose posts or a feed of posts, and update the code below accordingly. #}

{#
	@name Block: Card Slider
	@desc A collection of cards arranged in a carousel using SwiperJS
#}

{% set source = 'custom' %}

{% if source == 'custom' %}
{% set cards = blockset.cards %}
{% endif %}

<div class="fluid-container overflow-visible">
    <div class="xl:flex justify-between">
        <div class="xl:w-1/3 flex-shrink-0 xl:pr-10 mb-10 xl:mb-0">
            {% include "components/intro.twig" with {
                overline: blockset.overline,
                title: blockset.title,
                subtitle: blockset.subtitle,
                sectionClass: "text-center xl:text-left mb-6"
            }%}
            {% if blockset.buttons|length > 0 %}
                <div class="flex justify-center xl:justify-start items-center gap-6 my-8">
                    {% include "components/buttons.twig" with {
                        buttons: blockset.buttons,
                        style: blockset.buttons.style
                    } %}
                </div>
            {% endif %}
            {% if cards|length > 1 %}
                <div class="flex justify-center xl:justify-start gap-6">
                    <button class="card-slider-prev w-12 h-12 transition hover:scale-110 hover:text-secondary rotate-180" title="Previous">
                        {{ source("resources/images/arrow-circle.svg") }}
                    </button>
                    <button class="card-slider-next w-12 h-12 transition hover:scale-110 hover:text-secondary" title="Next">
                        {{ source("resources/images/arrow-circle.svg") }}
                    </button>
                </div>
            {% endif %}
        </div>
        <div class="xl:w-2/3 xl:w-3/4 2xl:w-4/5 4xl:w-full">
            <div class="swiper card-slider max-w-[80vw] md:max-w-[90vw] mx-auto">
                <div class="swiper-wrapper">
                    {% for card in cards %}
                        <div class="swiper-slide">
                                {% include "components/cards/card.twig" with {
                                    asset_type: card.media.asset_type,
                                    image: card.media.image,
                                    video: card.media.video,
                                    overline: card.overline,
                                    heading: card.title,
                                    text: card.text,
                                    link: card.link,
                                }%}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>