<div class="fluid-container {% include "snippets/no_block_spacing.twig" %}">
    {% include "components/intro.twig" with {
        overline: blockset.overline,
        title: blockset.title,
        subtitle: blockset.subtitle
    }%}
    {% if blockset.buckets|length > 0 %}
    <div class="flex flex-wrap gap-y-10">
        {% for item in blockset.buckets %}
        <div class="basis-full md:basis-1/2 xl:basis-1/4 flex-grow text-center space-y-4 px-6">
            <img src="{{ Image(item.icon).src | towebp | resize(300) }}" class="h-8 mx-auto" alt="{{ Image(item.icon).alt }}" />
            {% include "typography/h4.twig" with {
                content: item.title,
                as: "h3"
            }%}
            {% include "typography/paragraph.twig" with {
                content: item.text
            }%}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if blockset.buttons|length > 0 %}
        <div class="flex flex-col justify-center items-center gap-6 mt-16">
            {% include "components/buttons.twig" with {
                buttons: blockset.buttons,
                style: blockset.buttons.style
            } %}
        </div>
    {% endif %}
</div>