<section
    x-data
    class="
        relative flex items-end w-full min-h-[40vh] py-12 bg-neutral-50 text-neutral-900
    "
    x-ref="container"
>

    <div class="fluid-container">
        {% include 'typography/h1.twig' with {
            content: blockset.title,
            attribute: "
                x-data='words()'
                x-init='
                    delay = $store.animationDelay;
                    mounted();
                '
                x-ref='element'
            "
        } %}
    </div>

</section>
