{% set orientation = blockset.media_side %}

<div class="
    fluid-container flex flex-col lg:justify-between gap-10
    {{ orientation == 'left' ? 'lg:flex-row' : 'lg:flex-row-reverse' }}
    {% include "snippets/no_block_spacing.twig" %}
    "
    id="{{ id }}"
>

    <div class="lg:basis-1/2 relative h-60 md:h-96 lg:h-auto">
        <div
            x-data="parallaxBackground()"
            x-init="
                yStart = 0;
                start = 'top top';
                trigger = $refs.container;
                mounted();
            "
            x-ref="container"
            class="absolute inset-0 w-full h-full overflow-hidden"
        >
            {% include "components/background.twig" with {
                asset_type: blockset.media.asset_type,
                image: blockset.media.image,
                video: blockset.media.video,
                remote_mp4: blockset.media.remote_mp4,
                poster: blockset.media.poster,
                attribute: "x-ref='background'"
            } %}
        </div>
    </div>

    <div class="lg:basis-1/2 lg:py-6 xl:py-10">
        {% include "components/intro.twig" with {
            overline: blockset.overline,
            title: blockset.title,
            sectionClass: "text-left mb-8"
        }%}
        {% if blockset.text %}
            {% include "typography/paragraph.twig" with {
                content: blockset.text,
                size: "lg"
            }%}
        {% endif %}
        {% if blockset.buttons|length > 0 %}
                <div class="flex justify-center xl:justify-start items-center gap-6 mt-8">
                    {% include "components/buttons.twig" with {
                        buttons: blockset.buttons,
                        style: blockset.buttons.style
                    } %}
                </div>
            {% endif %}
    </div>

</div>