<div 
    x-data
    class="fluid-container {% include "snippets/no_block_spacing.twig" %}"
    id="{{ id }}"
>
    {% include "components/intro.twig" with {
        overline: blockset.overline,
        title: blockset.title,
        subtitle: blockset.subtitle
    } %}

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-10 items-start">
        {% for person in people %}
            <button @click="$store.overlay.person.toggle({{ person.id }})">
                {% include "components/cards/card.twig" with {
                    asset_type: "image",
                    image: person.thumbnail,
                    heading: person.title,
                    text: person.position
                } %}
            </button>
        {% endfor %}
    </div>

    {% for person in people %}
        {% include "modules/overlays/overlay_person.twig" with {
            id: person.id,
            name: person.title,
            position: person.position,
            bio: person.content,
            phone: person.phone,
            email: person.email,
            image: person.thumbnail,
        } %}
    {% endfor %}
</div>