<!DOCTYPE html>
<html {{ site.language_attributes }} class="w-screen max-w-full overflow-x-auto">

    {% include 'partials/modules/html-header.twig' %}

    <body class="{{ body_class }} text-gray-800 font-sans text-base antialiased overflow-x-hidden">
        {# Vue Root #}
        <div id="launchframe-root">

            {# π ----
            // :: HEADER
            // : ---------------------------------- #}
            {% include 'partials/modules/header.twig' %}

            {# π ----
            // :: CONTENT
            // : ---------------------------------- #}
            {% block content %}
                <p>Sorry, no content</p>
            {% endblock %}

            {# π ----
            // :: FOOTER
            // : ---------------------------------- #}
            {% include 'partials/modules/footer.twig' %}
    </body>
</html>
