<!DOCTYPE html>
<html {{ site.language_attributes }}>

    {% include 'modules/html_header.twig' %}

    <body
        x-data="{}"
        class="text-gray-800 text-base font-sans antialiased
        {{ body_class }}
        {{ environment == 'development' ? 'debug' : '' }}"
    >

        {# π ----
        // :: HEADER
        // : ---------------------------------- #}
        {% include 'modules/header.twig' %}

        {# π ----
        // :: CONTENT
        // : ---------------------------------- #}
        {% block content %}
            <p>Sorry, no content</p>
        {% endblock %}

        {# π ----
        // :: FOOTER
        // : ---------------------------------- #}
        {% include 'modules/footer.twig' %}
    </body>
</html>
