{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="site-header" >
			{% block header %}
			{% endblock %}
      {% include 'nav.twig' %}
		</header>

		<main class="site-main">
			{% if title %}<h1>{{title}}</h1>{% endif %}
      <section class="primary-content">
				{% block content %}
					Sorry, no content
				{% endblock %}
      </section>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</main>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
