.latest-plan {
	position: relative;
	padding-bottom: 80px;
	margin-top: -120px;
	@include media-breakpoint-up(lg) {
		padding-bottom: 147px;
	}
	&__header {
		@extend %section-header;
		margin: 48px 0 15px;
		text-align: center;
		a {
			color: #000;
		}
	}
	&__img {
		position: relative;
		z-index: 1;
		width: 70%;
 		margin: 70px auto 40px;
 		text-align: center;
 		@include media-breakpoint-up(lg) {
 			width: 450px;
 		}
 		@include media-breakpoint-up(md) {
 			width: 395px;
 			margin: 40px 70px 20px 0;
 		}
	}
	&__info {
		@include media-breakpoint-up(md) {
			display: flex;
			max-width: 825px;
			margin: 0 auto;
			align-items: center;
		}
	}
	&__buy {
		display: inline-block;
		margin: 0;
		color: #949494;
		border-bottom: 2px solid #E5E5E5;
	}
}

.latest-study {
	position: relative;
	width: 100%;
	max-width: 830px;
	padding: 80px 22px;
	margin: 0 auto;
	background-color: $white;
	border-bottom: 1px solid #E9E9E9;
	@include media-breakpoint-up(sm) {
		padding: 80px 42px;
	}
	@include media-breakpoint-up(md) {
		padding: 64px;
	}
	&__leadin {
		position: absolute;
        top: 0;
        left: 0;
        padding: 8px 22px;
        font-family: $font-family-sans-serif;
        font-size: 9px;
        line-height: 1;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: #DEDEDE;
	}
	&__meta {
		@include media-breakpoint-up(md) {
			width: 60%;
		}
	}
	&__subheader {
		margin-bottom: 9px;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: 1.5px;
		a {
			color: #000;
		}
	}
	&__header {
		@extend %section-header;
		font-size: 1.75rem;
		font-weight: 500;
		line-height: 2.125rem;
	}
	&__description {
		margin-bottom: 36px;
		font-family: $font-family-sans-serif;
		font-size: 1rem;
		line-height: 1.5;
		color: #676767;
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}
	&__button {
		@include media-breakpoint-up(md) {
			position: absolute;
			right: 64px;
			bottom: 54px;
		}
	}
}

.daily-studies {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	&__full-plan {
		display: inline-block;
		margin: 20px auto 0;
	}
}
