{#
    @name Nav Overlay Item
    @desc Nav item used in the primary navigation in the header
    @type navigation/item
#}

<li data-nav-item>
    <a
        class="
            relative
            text-2xl font-bold leading-none
            lg:hover:text-secondary-399
            transition duration-150
        "
        href="{{ item.link }}"
    >
        {{ item.title }}
    </a>
</li>
