{% extends "layouts/base.twig" %}

{% block content %}
    {# π ----
    // :: HERO
    // : ---------------------------------- #}
    {% include "modules/hero.twig" with {
        hero: page.get_field("hero")
    } %}

    <main class="py-20 space-y-20">
        {# π ----
        // :: BLOCKS
        // : ---------------------------------- #}
        {% for blockset in page.get_field('blocks').sets %}
            {% include "blocks/#{blockset.acf_fc_layout}.twig" %}
        {% endfor %}

    </main>
{% endblock %}
