{#
    @name Primary Transition
    @desc Transition between pages.
    @type component
#}

<div id="primary-loader" class="fixed z-50 inset-0 w-full h-screen overflow-hidden opacity-0 invisible">
    <div data-curtain class="absolute inset-0 w-full h-full bg-neutral-50"></div>

    <div data-logo class="absolute left-12 lg:left-24 bottom-12 lg:bottom-24 w-24 fill-current text-neutral">
        {{ source("resources/images/logo.svg") }}
    </div>
</div>
