{% extends "layouts/layout_primary.twig" %}

{% block content %}
    {% include "modules/hero.twig" with {
        hero: page.get_field("hero")
    }%}

    <main
        class="
            relative outer-grid overflow-hidden
            {{ not page.get_field("blocks").spacing_top ? "!pt-0" : "" }}
            {{ not page.get_field("blocks").spacing_bottom ? "!pb-0" : "" }}
        "
    >
        {% for blockset in page.get_field("blocks").sets %}
            {% include "blocks/#{blockset.acf_fc_layout}.twig" with {
                id: blockset.anchor ? blockset.anchor : ' '
            }%}
        {% endfor %}
    </main>
{% endblock %}
