{#
    @name Page
    @desc The default template with an outer wrapper grid as defined in tailwind.config.js.
    It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
    @type template
#}

{% extends "layouts/layout_primary.twig" %}

{% block namespace %}
    data-portal-namespace="{{ namespace ?: "secondary" }}"
{% endblock %}

{% block content %}
    {% if hero.type != "none" %}
        {% include "modules/heroes/hero_#{hero.type}.twig" %}
    {% endif %}

    <main
        class="
            {{ not page.get_field("blocks").spacing_top ? "!pt-0" }}
            {{ is_child_page or not page.get_field("blocks").spacing_bottom ? "!pb-0" }}
            relative outer-grid overflow-hidden
            -mb-px
        "
    >
        {# {% include "typography/type_scaffold.twig" %} #}
        {% for blockset in page.get_field("blocks").sets %}
            {% include "blocks/#{blockset.acf_fc_layout}.twig" with {
                id: blockset.anchor ?: null,
            } %}
        {% endfor %}
    </main>
{% endblock %}
