<header class="w-screen max-w-full py-10 transition-quad z-40">
    <div class="relative flex items-center justify-between w-full max-w-full mx-auto px-10">
        {# :: Logo
        ---------------------------------- #}
        <div class="opacity-0" data-fadein="0.56">
            <a href="{{ site.link }}" class="block w-40 lg:w-64 text-red-500 transition-quad">
                {{ source('dist/images/logo.svg') }}
            </a>
        </div>

        {# π ----
        // :: NAV
        // : ---------------------------------- #}
        <nav class="hidden lg:flex flex-col lg:flex-row items-center -mx-3 xl:-mx-6 opacity-0" data-fadein="0.8">

            {% for item in menu.items %}
                <div class="px-3 xl:px-6">
                    <a
                        class="relative text-sm xl:text-tiny font-bold uppercase tracking-widest transition"
                        href="{{ item.link }}"
                    >
                        <div class="relative inline-block py-3">

                            {{ item.title }}

                            {% if item.current %}
                                <div id="menu-current" class="absolute bottom-0 inset-x-0 w-full h-2px bg-red-300 transition-quad"></div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}

        </nav>
    </div>
</header>
