// π ----
// :: CUSTOM TAILWIND UTILITIES ---------------------------::
// ____

/* :: Standard Padding
---------------------------------- */
.c-pad {
    @apply px-8;

    @screen md {
        @apply px-16;
    }

    @screen xl {
        @apply px-24;
    }
}

/* :: Scrolling
{+} ---------------------------------- */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
