{#
    @name Header
    @desc The main header that is used across the website.
    @type module
#}

<header
    class="z-30 top-0 w-full py-6 transition {{ hero_style == 'one' ? 'text-white fixed' : 'sticky mb-10' }}"
    {# Move inline #}
    x-data="header()"
    x-int="mounted()"
    :class="sticky ? 'bg-neutral-50 text-neutral-800' : ''"
>
    <div class="fluid-container">
        <div class="relative flex justify-between items-center">

            <div
                x-ref="element"
            >
                {% include "components/logo.twig" %}
            </div>

            <div class="flex items-center">

                <div
                    class="flex items-center space-x-6 lg:space-x-12"
                >
                    {% include "navigation/nav_primary.twig" %}

                    <button
                        @click.prevent="open()"
                        class="text-current transition duration-300 ease-in-out group"
                    >
                        <div class="flex flex-col justify-center w-8 space-y-[4px]">
                            <div class="w-full h-[2px] bg-current group-hover:bg-secondary group-focus:bg-secondary transition"></div>
                            <div class="w-full h-[2px] bg-current group-hover:bg-secondary group-focus:bg-secondary transition"></div>
                            <div class="w-full h-[2px] bg-current group-hover:bg-secondary group-focus:bg-secondary transition"></div>
                        </div>
                    </button>
                </div>

            </div>

        </div>
    </div>
</header>
