{#
    @name Header
    @desc The main header that is used across the website.
    @type module
#}

<header
    x-data="{
        sticky: false,
        init() {
            ScrollTrigger.create({
                trigger: document.body,
                start: '400px top',
                end: 'bottom bottom',
                onEnter: () => {
                    this.sticky = true;
                },
                onLeaveBack: () => {
                    this.sticky = false;
                },
            })
        },
    }"
    x-ref="header"
    class="fixed z-30 top-0 w-full transition-all"
    :class="sticky ? 'py-1 bg-neutral-50 text-primary-600' : 'py-6 text-white'"
>
    <div class="fluid-container">
        <div class="relative flex justify-between items-center">

            <div
                x-data="animate()"
                x-init="
                    scrollTrigger = false;
                    delay = avalanche.delay.enter;
                    mounted();
                "
                x-ref="element"
                class="transition"
                :class="{ 'scale-75' : sticky }"
            >
                {% include "components/logo.twig" %}
            </div>

            <div
                class="flex items-center space-x-6 lg:space-x-12"
            >
                {% include "navigation/nav_primary.twig" %}
                <div
                    x-data="animate()"
                    x-init="
                        scrollTrigger = false;
                        delay = avalanche.delay.enter + 0.5;
                        mounted();
                    "
                    x-ref="element"
                >
                    {% include "components/buttons/button_nav_toggle.twig" %}
                </div>
            </div>
        </div>
    </div>
</header>
