<header 
    class="fixed z-30 top-0 w-full py-6 transition"
    x-data="header()"
    x-int="mounted()"
    :class="sticky ? 'bg-neutral-50' : ''"
>

    <a class="skip-link" href="#maincontent">
        Skip to content
    </a>

    <div class="fluid-container">
        <div class="relative flex justify-between items-center">

            <div
                x-data="fadeIn()"
                x-init="
                    scrollTrigger = false;
                    delay = $store.enterDelay + 0.2;
                    mounted();
                "
                x-cloak
                x-ref="element"
                class=""
            >
                {% include "components/logo.twig" %}
            </div>

            <div class="flex items-center">

                <div
                    x-data="fadeIn()"
                    x-init="
                        scrollTrigger = false;
                        delay = $store.enterDelay + 0.4;
                        mounted();
                    "
                    x-cloak
                    x-ref="element"
                    class="flex items-center space-x-6 lg:space-x-12"
                >
                <nav>
                    <ul class="hidden md:flex items-center space-x-10">
                        {% for item in menu.items %}
                            {% if loop.last != true %}
                                <li>
                                    <a
                                        class="relative text-sm font-bold leading-none transition duration-300 ease-in-out hover:text-secondary"
                                        href="{{ item.link }}"
                                    >
                                        {{ item.title }}
                                    </a>
                                </li>

                            {% else %}
                                <li>
                                    {% include "components/button.twig" with {
                                        label: item.title,
                                        action: "url",
                                        url: item.link,
                                        fade_in_disable: true,
                                        size: "small"
                                    } %}
                                </li>

                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>

                    <button
                        @click.prevent="$store.navigator.open = true; document.body.classList.add('no-scroll')"
                        class="text-current transition duration-300 ease-in-out group"
                    >
                        <div class="flex flex-col justify-center w-8 space-y-[4px]">
                            <div class="w-full h-[2px] bg-primary group-hover:bg-secondary group-focus:bg-secondary transition"></div>
                            <div class="w-full h-[2px] bg-primary group-hover:bg-secondary group-focus:bg-secondary transition"></div>
                            <div class="w-full h-[2px] bg-primary group-hover:bg-secondary group-focus:bg-secondary transition"></div>
                        </div>
                    </button>

                </div>

            </div>

        </div>
    </div>
</header>
