<div
    x-data="fadeIn()"
    x-init="
    delay = $store.animationDelay + 0.15;
    mounted();"
    x-ref="element"
    class="relative w-full overflow-hidden flex flex-col justify-center h-full"
    >  
    <div x-data="parallaxBackground()" x-init="
        y.start = -8;
        y.end = 8;
        scale.start = 1.12;
        scale.end = 1.12;
        mounted();
        "x-ref="container" 
        {% include "components/button_attributes.twig" %} class="">
            {% include "components/background.twig" with {
                image: video_cover_image ? video_cover_image : video_source == 'youtube' ? "https://img.youtube.com/vi/#{video_id}/maxresdefault.jpg" : video_source == 'vimeo' ? "https://vumbnail.com/#{video_id}_large.jpg" : video_cover_image,
                mp4: video_mp4,
                webm: preview_webm,
                poster: video_poster,
                attribute: "x-ref='background'",
            } %}
            <div class="bg-black opacity-40 h-full w-full absolute inset-0"></div>
            <div class="video-info-wrapper py-32 px-20">
                <div class="relative text-white">
                    {% if video_overline %}
                        {% include "typography/paragraph.twig" with {
                            content: video_overline,
                            style: "overline",
                            margins: "mb-0"
                        }%}
                    {% endif %}
                    {% if video_title %}
                        {% include "typography/h2.twig" with {
                            content: video_title,
                            class: "mb-4"
                        }%}
                    {% endif %}
                    {% if video_subtitle %}
                        {% include "typography/paragraph.twig" with {
                            content: video_subtitle,
                            margins: "mb-8"
                        }%}
                    {% endif %}
                </div>
                <div class="flex items-center gap-3 relative {{ video_overline or video_title or video_subtitle ? '' : 'justify-center' }}">
                    <div class="w-16 h-16 inset-0 flex flex-col justify-center items-center text-white">
                        {% include "components/button_play.twig" with {
                            tag: "button",
                            action: "video",
                            button_color: "bg-primary-400"
                        } %}
                    </div>
                    <div class="text-white {{ (hidePlayButtonText) ? 'hidden' : '' }}">
                        {% include "typography/paragraph.twig" with {
                            content: "Watch Video",
                            size: "lg",
                            margins: "mb-1"
                        }%}
                        {% include "typography/paragraph.twig" with {
                            content: video_duration,
                            size: "xs",
                            margins: "m-0"
                        }%}
                    </div>
                </div>
            </div>
    </div>
</div>