{#
	@name Background
	@desc Used to add cover backgrounds in elements
#}

<div
    {{ attribute }}
    class="absolute inset-0 w-full h-full {{ class }}"
>
    {# :: Video
    {+} ---------------------------------- #}
    {% if asset_type == 'video' or asset_type == 'remote_video' %}
        <video
            class="absolute inset-0 w-full h-full object-cover"
            x-data
            x-ref="video"
            x-init="$refs.video.play()"
            class="absolute inset-0 w-full h-full object-cover"
            autoplay
            muted
            loop
            playsinline
            poster="{{ poster }}"
        >
            <source src="{{ asset_type == 'video' ? video : remote_mp4 }}" />
        </video>

    {# :: Image
    {+} ---------------------------------- #}
    {% else %}
        {% include "components/image.twig" with {
            image: Image(image).src,
            alt: Image(image).alt,
            loading: loading
        } %}
    {% endif %}
</div>
