{% if menu_name.items|length > 0 %}
    {% include "typography/paragraph.twig" with {
        content: menu_name.title,
        color: "text-neutral-500",
        size: "lg",
        class: "font-bold"
    }%}
    <ul class="grid grid-cols-1 gap-2">
        {% for item in menu_name.items %}
        <li>
            <a
                class="relative text-sm font-bold leading-none transition duration-300 ease-in-out hover:text-secondary"
                href="{{ item.link }}"
            >
                {{ item.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endif %}