{% if overline or title or subtitle %}
    <div class="{{ sectionClass ? sectionClass : 'mb-8 md:mb-16 text-center' }}">
        {% if overline %}
            {% include "typography/paragraph.twig" with {
                content: overline,
                style: "overline",
                margins: "mb-4",
            }%}
        {% endif %}
        {% if title %}
            {% include "typography/h2.twig" with {
                content: title,
                as: titleTag ? titleTag : "h2",
                attribute: "
                    x-data='words()'
                    x-init='mounted()'
                    x-ref='element'
                ",
            }%}
        {% endif %}
        {% if subtitle %}
            {% include "typography/paragraph.twig" with {
                content: subtitle,
                margins: "mt-4",
                class: textClass ? textClass : "max-w-xl mx-auto"
            }%}
        {% endif %}
    </div>
{% endif %}