{#
    @name Socials
    @desc Group of social media icon links
    @type component
#}

<div
    class="flex items-center space-x-8 xl:space-x-4"
>
    {% for social in globals.social_media %}
        {% include "components/social.twig" %}
    {% endfor %}
</div>
