{#
	@name Toggle
	@desc Alpine driven fancy toggle button
#}

<div class="container">

    {% set tier1 = "Billed Monthly" %}
    {% set tier2 = "Billed Annually" %}

    <div
        x-data="{
            toggle: false
        }"
        class="flex justify-center items-center gap-2"
    >

        {% include "typography/paragraph.twig" with {
            content: tier1,
            class: "transition-opacity",
            margins: "m-0",
            attribute: ":class='toggle ? `opacity-50` : `opacity-100`'"
        } %}

        <button
            @click="toggle = !toggle"
            class="relative w-14 h-8 rounded-full p-1 transition-colors"
            :class="toggle ? 'bg-primary' : 'bg-secondary'"
            :aria-label="toggle ? 'Toggle: {{ tier1 }}' : 'Toggle: {{ tier2 }}'"
        >
            <div
                class="w-6 h-6 rounded-full bg-white transition"
                :class="toggle ? 'translate-x-full' : ''"
            ></div>
        </button>

        {% include "typography/paragraph.twig" with {
            content: tier2,
            class: "transition-opacity",
            margins: "m-0",
            attribute: ":class='toggle ? `opacity-100` : `opacity-50`'"
        } %}

    </div>

</div>
